div[contenteditable] {
  ol{
    list-style:decimal inside none;
  }
  ul{
    list-style:disc inside none;
  }
  b{
    font-weight: bold;
  }
  i{
    font-style: italic;
  }
}
@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin line-gradient($colors...) {
  background: -moz-linear-gradient(top, $colors);
  background: -webkit-linear-gradient(top, $colors);
  background: -o-linear-gradient(top, $colors);
  background: -ms-linear-gradient(top, $colors);
  background: linear-gradient(to bottom, $colors); 
}

$font-size: 14px;
.popline {
  position: absolute;
  height: 25px;
  line-height: 25px;
  @include rounded-corners(5px);
  @include line-gradient(#858585 0%, #3e3e3e 50%, #303030 51%, #303030 100%);
  opacity: 0.95;
  border: 1px solid #3b3b3a;
  display: none;
  margin: 0;
  list-style: none;
  padding: 0px 5px;
  font-family: arial, helvetica, "hiragino sans gb", sans-serif;
  text-rendering: optimizelegibility;
  li {
    color: white;
    font-size: $font-size;
    font-weight: bold;
    float: left;
    cursor: pointer;
    padding: 0 8px;
    text-align: center;
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      i { font-weight: bold; }
    }
    .text {
      font-size: $font-size * 1.1;
    }
  }
  .hover {
    @include line-gradient(#7096f8 0%, #3a6ff3 50%, #2b64f3 51%, #2b64f3 100%);
  }
  .boxed {
    padding: 0;
  }
  .lighter {
    font-weight: lighter;
  }
  .subbar {
    display: none;
    list-style: none;
    padding: 0;
  }
  .textfield {
    border: none;
    padding: 4px;
    margin-left: 10px;
    @include rounded-corners(5px);
    display: none;
    outline: none;
    width: 150px;
  }
}
